BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "io_reset" SITE "B3" ;
LOCATE COMP "io_jtag_tdi" SITE "A6" ;
LOCATE COMP "io_jtag_tck" SITE "A7" ;
LOCATE COMP "io_jtag_tdo" SITE "C6" ;
LOCATE COMP "io_jtag_tms" SITE "B8" ;
LOCATE COMP "io_leds[0]" SITE "H11" ;
LOCATE COMP "io_leds[1]" SITE "J13" ;
LOCATE COMP "io_leds[2]" SITE "J11" ;
LOCATE COMP "io_leds[3]" SITE "L12" ;
LOCATE COMP "io_leds[4]" SITE "K11" ;
LOCATE COMP "io_leds[5]" SITE "L13" ;
LOCATE COMP "io_leds[6]" SITE "N15" ;
LOCATE COMP "io_leds[7]" SITE "P16" ;
IOBUF PORT "io_reset" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "io_jtag_tck" IO_TYPE=LVCMOS33 DRIVE=NA SLEWRATE=NA PULLMODE=NONE ;
IOBUF PORT "io_jtag_tdi" DRIVE=NA PULLMODE=NONE IO_TYPE=LVCMOS33 ;
DEFINE PORT GROUP "jtag" "io_jtag_tms" 
"io_jtag_tdi" 
"io_jtag_tdo" ;
IOBUF GROUP "jtag" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "io_jtag_tdo" PULLMODE=NONE IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
DEFINE PORT GROUP "leds" "io_leds[7]" 
"io_leds[6]" 
"io_leds[5]" 
"io_leds[4]" 
"io_leds[3]" 
"io_leds[2]" 
"io_leds[1]" 
"io_leds[0]" ;
IOBUF GROUP "leds" IO_TYPE=LVCMOS33 PULLMODE=UP ;
SYSCONFIG MASTER_SPI_PORT=ENABLE CONFIGURATION=EXTERNAL JTAG_PORT=DISABLE ;
IOBUF PORT "io_jtag_tms" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
