ble_pack i1_2_lut_adj_4_LC_1_1_0 { i1_2_lut_adj_4 }
ble_pack ctrl_tap_instruction_i1_LC_1_1_1 { i770_4_lut, ctrl_tap_instruction_i1 }
ble_pack equal_312_i15_2_lut_LC_1_1_2 { equal_312_i15_2_lut }
ble_pack i1_4_lut_adj_6_LC_1_1_3 { i1_4_lut_adj_6 }
ble_pack i1_2_lut_3_lut_adj_5_LC_1_1_4 { i1_2_lut_3_lut_adj_5 }
ble_pack i2_2_lut_3_lut_LC_1_1_5 { i2_2_lut_3_lut }
ble_pack ctrl_tap_instruction_i6_LC_1_1_6 { i785_4_lut, ctrl_tap_instruction_i6 }
ble_pack ctrl_tap_instruction_i5_LC_1_1_7 { i782_4_lut, ctrl_tap_instruction_i5 }
clb_pack LT_1_1 { i1_2_lut_adj_4_LC_1_1_0, ctrl_tap_instruction_i1_LC_1_1_1, equal_312_i15_2_lut_LC_1_1_2, i1_4_lut_adj_6_LC_1_1_3, i1_2_lut_3_lut_adj_5_LC_1_1_4, i2_2_lut_3_lut_LC_1_1_5, ctrl_tap_instruction_i6_LC_1_1_6, ctrl_tap_instruction_i5_LC_1_1_7 }
set_location LT_1_1 1 1
ble_pack i1047_2_lut_LC_1_2_0 { i1047_2_lut }
ble_pack i20_3_lut_3_lut_LC_1_2_1 { i20_3_lut_3_lut }
ble_pack i1424_3_lut_LC_1_2_2 { i1424_3_lut }
ble_pack ctrl_idcodeArea_shifter_i2_LC_1_2_3 { i794_4_lut, ctrl_idcodeArea_shifter_i2 }
ble_pack i1_2_lut_adj_1_LC_1_2_4 { i1_2_lut_adj_1 }
ble_pack i5_4_lut_LC_1_2_5 { i5_4_lut }
ble_pack i1343_2_lut_3_lut_LC_1_2_6 { i1343_2_lut_3_lut }
ble_pack ctrl_idcodeArea_shifter_i1_LC_1_2_7 { i791_4_lut, ctrl_idcodeArea_shifter_i1 }
clb_pack LT_1_2 { i1047_2_lut_LC_1_2_0, i20_3_lut_3_lut_LC_1_2_1, i1424_3_lut_LC_1_2_2, ctrl_idcodeArea_shifter_i2_LC_1_2_3, i1_2_lut_adj_1_LC_1_2_4, i5_4_lut_LC_1_2_5, i1343_2_lut_3_lut_LC_1_2_6, ctrl_idcodeArea_shifter_i1_LC_1_2_7 }
set_location LT_1_2 1 2
ble_pack ctrl_idcodeArea_shifter_i4_LC_1_3_0 { i800_4_lut, ctrl_idcodeArea_shifter_i4 }
ble_pack i3_4_lut_LC_1_3_1 { i3_4_lut }
ble_pack ctrl_ledsArea_store_i0_i7_LC_1_3_2 { i742_3_lut, ctrl_ledsArea_store_i0_i7 }
ble_pack ctrl_idcodeArea_shifter_i3_LC_1_3_3 { i797_4_lut, ctrl_idcodeArea_shifter_i3 }
ble_pack ctrl_idcodeArea_shifter_i29_LC_1_3_4 { i757_4_lut, ctrl_idcodeArea_shifter_i29 }
ble_pack ctrl_idcodeArea_shifter_i30_LC_1_3_5 { i754_4_lut, ctrl_idcodeArea_shifter_i30 }
ble_pack mux_210_i4_4_lut_4_lut_LC_1_3_6 { mux_210_i4_4_lut_4_lut }
ble_pack ctrl_tap_fsm_state_3__I_0_i6_2_lut_LC_1_3_7 { ctrl_tap_fsm_state_3__I_0_i6_2_lut }
clb_pack LT_1_3 { ctrl_idcodeArea_shifter_i4_LC_1_3_0, i3_4_lut_LC_1_3_1, ctrl_ledsArea_store_i0_i7_LC_1_3_2, ctrl_idcodeArea_shifter_i3_LC_1_3_3, ctrl_idcodeArea_shifter_i29_LC_1_3_4, ctrl_idcodeArea_shifter_i30_LC_1_3_5, mux_210_i4_4_lut_4_lut_LC_1_3_6, ctrl_tap_fsm_state_3__I_0_i6_2_lut_LC_1_3_7 }
set_location LT_1_3 1 3
ble_pack i1073_2_lut_LC_1_4_0 { i1073_2_lut }
ble_pack i1385_4_lut_LC_1_4_1 { i1385_4_lut }
ble_pack ctrl_tap_fsm_state_i2_LC_1_4_2 { i1386_4_lut, ctrl_tap_fsm_state_i2 }
ble_pack i1431_2_lut_LC_1_4_3 { i1431_2_lut }
ble_pack ctrl_tap_fsm_state_i0_LC_1_4_4 { i1392_4_lut, ctrl_tap_fsm_state_i0 }
ble_pack i1427_2_lut_4_lut_LC_1_4_5 { i1427_2_lut_4_lut }
ble_pack ctrl_tap_fsm_state_i1_LC_1_4_6 { i1389_4_lut, ctrl_tap_fsm_state_i1 }
ble_pack ctrl_tap_fsm_state_i3_LC_1_4_7 { i1383_4_lut, ctrl_tap_fsm_state_i3 }
clb_pack LT_1_4 { i1073_2_lut_LC_1_4_0, i1385_4_lut_LC_1_4_1, ctrl_tap_fsm_state_i2_LC_1_4_2, i1431_2_lut_LC_1_4_3, ctrl_tap_fsm_state_i0_LC_1_4_4, i1427_2_lut_4_lut_LC_1_4_5, ctrl_tap_fsm_state_i1_LC_1_4_6, ctrl_tap_fsm_state_i3_LC_1_4_7 }
set_location LT_1_4 1 4
ble_pack i2_3_lut_4_lut_LC_1_5_0 { i2_3_lut_4_lut }
ble_pack mux_209_i1_4_lut_LC_1_5_1 { mux_209_i1_4_lut }
ble_pack i1391_3_lut_LC_1_5_2 { i1391_3_lut }
ble_pack i3_2_lut_3_lut_4_lut_LC_1_5_3 { i3_2_lut_3_lut_4_lut }
ble_pack i1_4_lut_4_lut_adj_2_LC_1_5_4 { i1_4_lut_4_lut_adj_2 }
ble_pack mux_210_i1_4_lut_LC_1_5_5 { mux_210_i1_4_lut }
ble_pack i1_2_lut_LC_1_5_6 { i1_2_lut }
ble_pack i1411_2_lut_4_lut_LC_1_5_7 { i1411_2_lut_4_lut }
clb_pack LT_1_5 { i2_3_lut_4_lut_LC_1_5_0, mux_209_i1_4_lut_LC_1_5_1, i1391_3_lut_LC_1_5_2, i3_2_lut_3_lut_4_lut_LC_1_5_3, i1_4_lut_4_lut_adj_2_LC_1_5_4, mux_210_i1_4_lut_LC_1_5_5, i1_2_lut_LC_1_5_6, i1411_2_lut_4_lut_LC_1_5_7 }
set_location LT_1_5 1 5
ble_pack myClockArea_timeout_counter_value_313__i0_LC_1_6_0 { myClockArea_timeout_counter_value_313_add_4_2_lut, myClockArea_timeout_counter_value_313__i0, myClockArea_timeout_counter_value_313_add_4_2 }
ble_pack myClockArea_timeout_counter_value_313__i1_LC_1_6_1 { myClockArea_timeout_counter_value_313_add_4_3_lut, myClockArea_timeout_counter_value_313__i1, myClockArea_timeout_counter_value_313_add_4_3 }
ble_pack myClockArea_timeout_counter_value_313__i2_LC_1_6_2 { myClockArea_timeout_counter_value_313_add_4_4_lut, myClockArea_timeout_counter_value_313__i2, myClockArea_timeout_counter_value_313_add_4_4 }
ble_pack myClockArea_timeout_counter_value_313__i3_LC_1_6_3 { myClockArea_timeout_counter_value_313_add_4_5_lut, myClockArea_timeout_counter_value_313__i3, myClockArea_timeout_counter_value_313_add_4_5 }
ble_pack myClockArea_timeout_counter_value_313__i4_LC_1_6_4 { myClockArea_timeout_counter_value_313_add_4_6_lut, myClockArea_timeout_counter_value_313__i4, myClockArea_timeout_counter_value_313_add_4_6 }
ble_pack myClockArea_timeout_counter_value_313__i5_LC_1_6_5 { myClockArea_timeout_counter_value_313_add_4_7_lut, myClockArea_timeout_counter_value_313__i5, myClockArea_timeout_counter_value_313_add_4_7 }
ble_pack myClockArea_timeout_counter_value_313__i6_LC_1_6_6 { myClockArea_timeout_counter_value_313_add_4_8_lut, myClockArea_timeout_counter_value_313__i6, myClockArea_timeout_counter_value_313_add_4_8 }
ble_pack myClockArea_timeout_counter_value_313__i7_LC_1_6_7 { myClockArea_timeout_counter_value_313_add_4_9_lut, myClockArea_timeout_counter_value_313__i7, myClockArea_timeout_counter_value_313_add_4_9 }
clb_pack LT_1_6 { myClockArea_timeout_counter_value_313__i0_LC_1_6_0, myClockArea_timeout_counter_value_313__i1_LC_1_6_1, myClockArea_timeout_counter_value_313__i2_LC_1_6_2, myClockArea_timeout_counter_value_313__i3_LC_1_6_3, myClockArea_timeout_counter_value_313__i4_LC_1_6_4, myClockArea_timeout_counter_value_313__i5_LC_1_6_5, myClockArea_timeout_counter_value_313__i6_LC_1_6_6, myClockArea_timeout_counter_value_313__i7_LC_1_6_7 }
set_location LT_1_6 1 6
ble_pack myClockArea_timeout_counter_value_313__i8_LC_1_7_0 { myClockArea_timeout_counter_value_313_add_4_10_lut, myClockArea_timeout_counter_value_313__i8, myClockArea_timeout_counter_value_313_add_4_10 }
ble_pack myClockArea_timeout_counter_value_313__i9_LC_1_7_1 { myClockArea_timeout_counter_value_313_add_4_11_lut, myClockArea_timeout_counter_value_313__i9, myClockArea_timeout_counter_value_313_add_4_11 }
ble_pack myClockArea_timeout_counter_value_313__i10_LC_1_7_2 { myClockArea_timeout_counter_value_313_add_4_12_lut, myClockArea_timeout_counter_value_313__i10, myClockArea_timeout_counter_value_313_add_4_12 }
ble_pack myClockArea_timeout_counter_value_313__i11_LC_1_7_3 { myClockArea_timeout_counter_value_313_add_4_13_lut, myClockArea_timeout_counter_value_313__i11, myClockArea_timeout_counter_value_313_add_4_13 }
ble_pack myClockArea_timeout_counter_value_313__i12_LC_1_7_4 { myClockArea_timeout_counter_value_313_add_4_14_lut, myClockArea_timeout_counter_value_313__i12, myClockArea_timeout_counter_value_313_add_4_14 }
ble_pack myClockArea_timeout_counter_value_313__i13_LC_1_7_5 { myClockArea_timeout_counter_value_313_add_4_15_lut, myClockArea_timeout_counter_value_313__i13, myClockArea_timeout_counter_value_313_add_4_15 }
ble_pack myClockArea_timeout_counter_value_313__i14_LC_1_7_6 { myClockArea_timeout_counter_value_313_add_4_16_lut, myClockArea_timeout_counter_value_313__i14, myClockArea_timeout_counter_value_313_add_4_16 }
ble_pack myClockArea_timeout_counter_value_313__i15_LC_1_7_7 { myClockArea_timeout_counter_value_313_add_4_17_lut, myClockArea_timeout_counter_value_313__i15, myClockArea_timeout_counter_value_313_add_4_17 }
clb_pack LT_1_7 { myClockArea_timeout_counter_value_313__i8_LC_1_7_0, myClockArea_timeout_counter_value_313__i9_LC_1_7_1, myClockArea_timeout_counter_value_313__i10_LC_1_7_2, myClockArea_timeout_counter_value_313__i11_LC_1_7_3, myClockArea_timeout_counter_value_313__i12_LC_1_7_4, myClockArea_timeout_counter_value_313__i13_LC_1_7_5, myClockArea_timeout_counter_value_313__i14_LC_1_7_6, myClockArea_timeout_counter_value_313__i15_LC_1_7_7 }
set_location LT_1_7 1 7
ble_pack myClockArea_timeout_counter_value_313__i16_LC_1_8_0 { myClockArea_timeout_counter_value_313_add_4_18_lut, myClockArea_timeout_counter_value_313__i16, myClockArea_timeout_counter_value_313_add_4_18 }
ble_pack myClockArea_timeout_counter_value_313__i17_LC_1_8_1 { myClockArea_timeout_counter_value_313_add_4_19_lut, myClockArea_timeout_counter_value_313__i17, myClockArea_timeout_counter_value_313_add_4_19 }
ble_pack myClockArea_timeout_counter_value_313__i18_LC_1_8_2 { myClockArea_timeout_counter_value_313_add_4_20_lut, myClockArea_timeout_counter_value_313__i18, myClockArea_timeout_counter_value_313_add_4_20 }
ble_pack myClockArea_timeout_counter_value_313__i19_LC_1_8_3 { myClockArea_timeout_counter_value_313_add_4_21_lut, myClockArea_timeout_counter_value_313__i19, myClockArea_timeout_counter_value_313_add_4_21 }
ble_pack myClockArea_timeout_counter_value_313__i20_LC_1_8_4 { myClockArea_timeout_counter_value_313_add_4_22_lut, myClockArea_timeout_counter_value_313__i20, myClockArea_timeout_counter_value_313_add_4_22 }
ble_pack myClockArea_timeout_counter_value_313__i21_LC_1_8_5 { myClockArea_timeout_counter_value_313_add_4_23_lut, myClockArea_timeout_counter_value_313__i21, myClockArea_timeout_counter_value_313_add_4_23 }
ble_pack myClockArea_timeout_counter_value_313__i22_LC_1_8_6 { myClockArea_timeout_counter_value_313_add_4_24_lut, myClockArea_timeout_counter_value_313__i22 }
clb_pack LT_1_8 { myClockArea_timeout_counter_value_313__i16_LC_1_8_0, myClockArea_timeout_counter_value_313__i17_LC_1_8_1, myClockArea_timeout_counter_value_313__i18_LC_1_8_2, myClockArea_timeout_counter_value_313__i19_LC_1_8_3, myClockArea_timeout_counter_value_313__i20_LC_1_8_4, myClockArea_timeout_counter_value_313__i21_LC_1_8_5, myClockArea_timeout_counter_value_313__i22_LC_1_8_6 }
set_location LT_1_8 1 8
ble_pack ctrl_tap_instruction_i4_LC_2_1_0 { i779_4_lut, ctrl_tap_instruction_i4 }
ble_pack ctrl_tap_instruction_i0_LC_2_1_1 { i816_4_lut, ctrl_tap_instruction_i0 }
ble_pack i1_2_lut_adj_8_LC_2_1_2 { i1_2_lut_adj_8 }
ble_pack i395_4_lut_LC_2_1_3 { i395_4_lut }
ble_pack i398_4_lut_LC_2_1_4 { i398_4_lut }
ble_pack ctrl_tap_instruction_i3_LC_2_1_5 { i776_4_lut, ctrl_tap_instruction_i3 }
ble_pack ctrl_tap_instruction_i2_LC_2_1_6 { i772_4_lut, ctrl_tap_instruction_i2 }
ble_pack ctrl_tap_instruction_i7_LC_2_1_7 { i788_4_lut, ctrl_tap_instruction_i7 }
clb_pack LT_2_1 { ctrl_tap_instruction_i4_LC_2_1_0, ctrl_tap_instruction_i0_LC_2_1_1, i1_2_lut_adj_8_LC_2_1_2, i395_4_lut_LC_2_1_3, i398_4_lut_LC_2_1_4, ctrl_tap_instruction_i3_LC_2_1_5, ctrl_tap_instruction_i2_LC_2_1_6, ctrl_tap_instruction_i7_LC_2_1_7 }
set_location LT_2_1 2 1
ble_pack i1_2_lut_3_lut_LC_2_2_0 { i1_2_lut_3_lut }
ble_pack ctrl_tap_bypass_I_0_4_lut_LC_2_2_1 { ctrl_tap_bypass_I_0_4_lut }
ble_pack ctrl_idcodeArea_shifter_i25_LC_2_2_2 { i704_4_lut, ctrl_idcodeArea_shifter_i25 }
ble_pack ctrl_idcodeArea_shifter_i0_LC_2_2_3 { i812_4_lut, ctrl_idcodeArea_shifter_i0 }
ble_pack i1_2_lut_adj_9_LC_2_2_4 { i1_2_lut_adj_9 }
ble_pack ctrl_idcodeArea_shifter_i28_LC_2_2_5 { i761_4_lut, ctrl_idcodeArea_shifter_i28 }
ble_pack ctrl_idcodeArea_shifter_i27_LC_2_2_6 { i700_4_lut, ctrl_idcodeArea_shifter_i27 }
ble_pack ctrl_idcodeArea_shifter_i26_LC_2_2_7 { i702_4_lut, ctrl_idcodeArea_shifter_i26 }
clb_pack LT_2_2 { i1_2_lut_3_lut_LC_2_2_0, ctrl_tap_bypass_I_0_4_lut_LC_2_2_1, ctrl_idcodeArea_shifter_i25_LC_2_2_2, ctrl_idcodeArea_shifter_i0_LC_2_2_3, i1_2_lut_adj_9_LC_2_2_4, ctrl_idcodeArea_shifter_i28_LC_2_2_5, ctrl_idcodeArea_shifter_i27_LC_2_2_6, ctrl_idcodeArea_shifter_i26_LC_2_2_7 }
set_location LT_2_2 2 2
ble_pack ctrl_idcodeArea_shifter_i22_LC_2_3_0 { i711_4_lut, ctrl_idcodeArea_shifter_i22 }
ble_pack ctrl_tap_fsm_state_3__I_0_i7_2_lut_4_lut_LC_2_3_1 { ctrl_tap_fsm_state_3__I_0_i7_2_lut_4_lut }
ble_pack ctrl_ledsArea_store_i0_i5_LC_2_3_2 { i744_3_lut, ctrl_ledsArea_store_i0_i5 }
ble_pack ctrl_idcodeArea_shifter_i24_LC_2_3_3 { i706_4_lut, ctrl_idcodeArea_shifter_i24 }
ble_pack i1_2_lut_3_lut_4_lut_adj_7_LC_2_3_4 { i1_2_lut_3_lut_4_lut_adj_7 }
ble_pack i1375_4_lut_LC_2_3_5 { i1375_4_lut }
ble_pack ctrl_idcodeArea_shifter_i23_LC_2_3_6 { i709_4_lut, ctrl_idcodeArea_shifter_i23 }
ble_pack ctrl_ledsArea_store_i0_i1_LC_2_3_7 { i697_3_lut, ctrl_ledsArea_store_i0_i1 }
clb_pack LT_2_3 { ctrl_idcodeArea_shifter_i22_LC_2_3_0, ctrl_tap_fsm_state_3__I_0_i7_2_lut_4_lut_LC_2_3_1, ctrl_ledsArea_store_i0_i5_LC_2_3_2, ctrl_idcodeArea_shifter_i24_LC_2_3_3, i1_2_lut_3_lut_4_lut_adj_7_LC_2_3_4, i1375_4_lut_LC_2_3_5, ctrl_idcodeArea_shifter_i23_LC_2_3_6, ctrl_ledsArea_store_i0_i1_LC_2_3_7 }
set_location LT_2_3 2 3
ble_pack ctrl_idcodeArea_shifter_i7_LC_2_4_0 { i808_4_lut, ctrl_idcodeArea_shifter_i7 }
ble_pack ctrl_ledsArea_store_i0_i3_LC_2_4_1 { i746_3_lut, ctrl_ledsArea_store_i0_i3 }
ble_pack ctrl_ledsArea_store_i0_i2_LC_2_4_2 { i747_3_lut, ctrl_ledsArea_store_i0_i2 }
ble_pack ctrl_ledsArea_store_i0_i4_LC_2_4_3 { i745_3_lut, ctrl_ledsArea_store_i0_i4 }
ble_pack ctrl_idcodeArea_shifter_i5_LC_2_4_4 { i802_4_lut, ctrl_idcodeArea_shifter_i5 }
ble_pack ctrl_idcodeArea_shifter_i6_LC_2_4_5 { i805_4_lut, ctrl_idcodeArea_shifter_i6 }
ble_pack ctrl_ledsArea_store_i0_i8_LC_2_4_6 { i741_3_lut, ctrl_ledsArea_store_i0_i8 }
ble_pack ctrl_ledsArea_store_i0_i6_LC_2_4_7 { i743_3_lut, ctrl_ledsArea_store_i0_i6 }
clb_pack LT_2_4 { ctrl_idcodeArea_shifter_i7_LC_2_4_0, ctrl_ledsArea_store_i0_i3_LC_2_4_1, ctrl_ledsArea_store_i0_i2_LC_2_4_2, ctrl_ledsArea_store_i0_i4_LC_2_4_3, ctrl_idcodeArea_shifter_i5_LC_2_4_4, ctrl_idcodeArea_shifter_i6_LC_2_4_5, ctrl_ledsArea_store_i0_i8_LC_2_4_6, ctrl_ledsArea_store_i0_i6_LC_2_4_7 }
set_location LT_2_4 2 4
ble_pack i1337_2_lut_LC_2_5_0 { i1337_2_lut }
ble_pack ctrl_idcodeArea_shifter_i8_LC_2_5_1 { i810_4_lut, ctrl_idcodeArea_shifter_i8 }
ble_pack i20_4_lut_3_lut_LC_2_5_2 { i20_4_lut_3_lut }
ble_pack i1388_4_lut_LC_2_5_3 { i1388_4_lut }
ble_pack i1_4_lut_LC_2_5_4 { i1_4_lut }
ble_pack i988_4_lut_4_lut_LC_2_5_5 { i988_4_lut_4_lut }
ble_pack i1_2_lut_3_lut_4_lut_LC_2_5_6 { i1_2_lut_3_lut_4_lut }
ble_pack mux_210_i2_4_lut_LC_2_5_7 { mux_210_i2_4_lut }
clb_pack LT_2_5 { i1337_2_lut_LC_2_5_0, ctrl_idcodeArea_shifter_i8_LC_2_5_1, i20_4_lut_3_lut_LC_2_5_2, i1388_4_lut_LC_2_5_3, i1_4_lut_LC_2_5_4, i988_4_lut_4_lut_LC_2_5_5, i1_2_lut_3_lut_4_lut_LC_2_5_6, mux_210_i2_4_lut_LC_2_5_7 }
set_location LT_2_5 2 5
ble_pack i1361_4_lut_LC_2_6_0 { i1361_4_lut }
ble_pack i5_4_lut_adj_3_LC_2_6_2 { i5_4_lut_adj_3 }
ble_pack ctrl_idcodeArea_shifter_i9_LC_2_6_3 { i818_4_lut, ctrl_idcodeArea_shifter_i9 }
ble_pack ctrl_idcodeArea_shifter_i11_LC_2_6_4 { i740_4_lut, ctrl_idcodeArea_shifter_i11 }
ble_pack i3_2_lut_LC_2_6_6 { i3_2_lut }
ble_pack ctrl_idcodeArea_shifter_i10_LC_2_6_7 { i767_4_lut, ctrl_idcodeArea_shifter_i10 }
clb_pack LT_2_6 { i1361_4_lut_LC_2_6_0, i5_4_lut_adj_3_LC_2_6_2, ctrl_idcodeArea_shifter_i9_LC_2_6_3, ctrl_idcodeArea_shifter_i11_LC_2_6_4, i3_2_lut_LC_2_6_6, ctrl_idcodeArea_shifter_i10_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack i1373_4_lut_LC_2_7_0 { i1373_4_lut }
ble_pack i1357_4_lut_LC_2_7_1 { i1357_4_lut }
ble_pack i1379_4_lut_LC_2_7_2 { i1379_4_lut }
ble_pack i7_4_lut_LC_2_7_3 { i7_4_lut }
ble_pack i990_2_lut_LC_2_7_4 { i990_2_lut }
ble_pack i1359_4_lut_LC_2_7_5 { i1359_4_lut }
clb_pack LT_2_7 { i1373_4_lut_LC_2_7_0, i1357_4_lut_LC_2_7_1, i1379_4_lut_LC_2_7_2, i7_4_lut_LC_2_7_3, i990_2_lut_LC_2_7_4, i1359_4_lut_LC_2_7_5 }
set_location LT_2_7 2 7
ble_pack myClockArea_timeout_state_88_LC_2_8_0 { i1439_2_lut, myClockArea_timeout_state_88 }
clb_pack LT_2_8 { myClockArea_timeout_state_88_LC_2_8_0 }
set_location LT_2_8 2 8
ble_pack ctrl_tap_instructionShift_i0_i1_LC_4_1_0 { mux_271_i2_3_lut, ctrl_tap_instructionShift_i0_i1 }
ble_pack ctrl_tap_instructionShift_i0_i2_LC_4_1_1 { mux_271_i3_3_lut, ctrl_tap_instructionShift_i0_i2 }
ble_pack ctrl_tap_instructionShift_i0_i4_LC_4_1_2 { mux_271_i5_3_lut, ctrl_tap_instructionShift_i0_i4 }
ble_pack ctrl_tap_instructionShift_i0_i5_LC_4_1_3 { mux_271_i6_3_lut, ctrl_tap_instructionShift_i0_i5 }
ble_pack ctrl_tap_instructionShift_i0_i7_LC_4_1_4 { mux_271_i8_3_lut, ctrl_tap_instructionShift_i0_i7 }
ble_pack ctrl_tap_instructionShift_i0_i3_LC_4_1_5 { mux_271_i4_3_lut, ctrl_tap_instructionShift_i0_i3 }
ble_pack ctrl_tap_instructionShift_i0_i6_LC_4_1_6 { mux_271_i7_3_lut, ctrl_tap_instructionShift_i0_i6 }
clb_pack LT_4_1 { ctrl_tap_instructionShift_i0_i1_LC_4_1_0, ctrl_tap_instructionShift_i0_i2_LC_4_1_1, ctrl_tap_instructionShift_i0_i4_LC_4_1_2, ctrl_tap_instructionShift_i0_i5_LC_4_1_3, ctrl_tap_instructionShift_i0_i7_LC_4_1_4, ctrl_tap_instructionShift_i0_i3_LC_4_1_5, ctrl_tap_instructionShift_i0_i6_LC_4_1_6 }
set_location LT_4_1 4 1
ble_pack ctrl_tap_instructionShift_i0_i0_LC_4_2_1 { mux_271_i1_3_lut, ctrl_tap_instructionShift_i0_i0 }
clb_pack LT_4_2 { ctrl_tap_instructionShift_i0_i0_LC_4_2_1 }
set_location LT_4_2 4 2
ble_pack i1436_2_lut_3_lut_4_lut_LC_4_3_0 { i1436_2_lut_3_lut_4_lut }
ble_pack ctrl_idcodeArea_shifter_i18_LC_4_3_1 { i721_4_lut, ctrl_idcodeArea_shifter_i18 }
ble_pack ctrl_idcodeArea_shifter_i17_LC_4_3_2 { i724_4_lut, ctrl_idcodeArea_shifter_i17 }
ble_pack ctrl_idcodeArea_shifter_i20_LC_4_3_3 { i716_4_lut, ctrl_idcodeArea_shifter_i20 }
ble_pack ctrl_idcodeArea_shifter_i19_LC_4_3_4 { i719_4_lut, ctrl_idcodeArea_shifter_i19 }
ble_pack ctrl_idcodeArea_shifter_i31_LC_4_3_5 { i751_4_lut, ctrl_idcodeArea_shifter_i31 }
ble_pack i1_4_lut_4_lut_LC_4_3_6 { i1_4_lut_4_lut }
ble_pack ctrl_idcodeArea_shifter_i21_LC_4_3_7 { i713_4_lut, ctrl_idcodeArea_shifter_i21 }
clb_pack LT_4_3 { i1436_2_lut_3_lut_4_lut_LC_4_3_0, ctrl_idcodeArea_shifter_i18_LC_4_3_1, ctrl_idcodeArea_shifter_i17_LC_4_3_2, ctrl_idcodeArea_shifter_i20_LC_4_3_3, ctrl_idcodeArea_shifter_i19_LC_4_3_4, ctrl_idcodeArea_shifter_i31_LC_4_3_5, i1_4_lut_4_lut_LC_4_3_6, ctrl_idcodeArea_shifter_i21_LC_4_3_7 }
set_location LT_4_3 4 3
ble_pack ctrl_ledsArea_shifter_i0_i0_LC_4_4_0 { mux_58_i1_4_lut, ctrl_ledsArea_shifter_i0_i0 }
ble_pack ctrl_ledsArea_shifter_i0_i1_LC_4_4_1 { mux_58_i2_4_lut, ctrl_ledsArea_shifter_i0_i1 }
ble_pack ctrl_ledsArea_shifter_i0_i2_LC_4_4_2 { mux_58_i3_4_lut, ctrl_ledsArea_shifter_i0_i2 }
ble_pack ctrl_ledsArea_shifter_i0_i3_LC_4_4_3 { mux_58_i4_4_lut, ctrl_ledsArea_shifter_i0_i3 }
ble_pack ctrl_ledsArea_shifter_i0_i4_LC_4_4_4 { mux_58_i5_4_lut, ctrl_ledsArea_shifter_i0_i4 }
ble_pack ctrl_ledsArea_shifter_i0_i5_LC_4_4_5 { mux_58_i6_4_lut, ctrl_ledsArea_shifter_i0_i5 }
ble_pack ctrl_ledsArea_shifter_i0_i6_LC_4_4_6 { mux_58_i7_4_lut, ctrl_ledsArea_shifter_i0_i6 }
ble_pack ctrl_ledsArea_shifter_i0_i7_LC_4_4_7 { mux_58_i8_4_lut, ctrl_ledsArea_shifter_i0_i7 }
clb_pack LT_4_4 { ctrl_ledsArea_shifter_i0_i0_LC_4_4_0, ctrl_ledsArea_shifter_i0_i1_LC_4_4_1, ctrl_ledsArea_shifter_i0_i2_LC_4_4_2, ctrl_ledsArea_shifter_i0_i3_LC_4_4_3, ctrl_ledsArea_shifter_i0_i4_LC_4_4_4, ctrl_ledsArea_shifter_i0_i5_LC_4_4_5, ctrl_ledsArea_shifter_i0_i6_LC_4_4_6, ctrl_ledsArea_shifter_i0_i7_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack mux_210_i3_4_lut_4_lut_LC_4_5_2 { mux_210_i3_4_lut_4_lut }
clb_pack LT_4_5 { mux_210_i3_4_lut_4_lut_LC_4_5_2 }
set_location LT_4_5 4 5
ble_pack myClockArea_toggle_90_LC_4_8_5 { io_leds_4__I_0_2_lut, myClockArea_toggle_90 }
clb_pack LT_4_8 { myClockArea_toggle_90_LC_4_8_5 }
set_location LT_4_8 4 8
ble_pack ctrl_tap_bypass_81_LC_5_2_7 { ctrl_tap_bypass_81_THRU_LUT4_0, ctrl_tap_bypass_81 }
clb_pack LT_5_2 { ctrl_tap_bypass_81_LC_5_2_7 }
set_location LT_5_2 5 2
ble_pack ctrl_idcodeArea_shifter_i14_LC_5_3_0 { i731_4_lut, ctrl_idcodeArea_shifter_i14 }
ble_pack ctrl_idcodeArea_shifter_i16_LC_5_3_1 { i726_4_lut, ctrl_idcodeArea_shifter_i16 }
ble_pack ctrl_idcodeArea_shifter_i13_LC_5_3_2 { i734_4_lut, ctrl_idcodeArea_shifter_i13 }
ble_pack ctrl_idcodeArea_shifter_i12_LC_5_3_3 { i737_4_lut, ctrl_idcodeArea_shifter_i12 }
ble_pack ctrl_idcodeArea_shifter_i15_LC_5_3_5 { i729_4_lut, ctrl_idcodeArea_shifter_i15 }
clb_pack LT_5_3 { ctrl_idcodeArea_shifter_i14_LC_5_3_0, ctrl_idcodeArea_shifter_i16_LC_5_3_1, ctrl_idcodeArea_shifter_i13_LC_5_3_2, ctrl_idcodeArea_shifter_i12_LC_5_3_3, ctrl_idcodeArea_shifter_i15_LC_5_3_5 }
set_location LT_5_3 5 3
set_location io_jtag_tck_pad_gb 0 9
set_io io_leds[7] 22
set_io io_leds[6] 34
set_io io_leds[5] 11
set_io io_leds[4] 95
set_io io_leds[3] 96
set_io io_leds[2] 97
set_io io_leds[1] 98
set_io io_leds[0] 99
set_io io_jtag_tms 44
set_io io_jtag_tdo 48
set_io io_jtag_tdi 47
set_io io_jtag_tck 45
set_io global_reset 144
set_io global_clk 21
