BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG JTAG_PORT=DISABLE ;
LOCATE COMP "jtag_io_child_0_tck" SITE "11" ;
IOBUF PORT "jtag_io_child_0_tck" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "jtag_io_child_0_tdi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "jtag_io_child_0_tms" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "jtag_io_jtag_tdo" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_child_0_tdo" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_gpio_0[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_gpio_0[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_jtag_tck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_jtag_tdi" IO_TYPE=LVCMOS33 ;
IOBUF PORT "jtag_io_jtag_tms" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "jtag_io_child_0_tdi" SITE "8" ;
LOCATE COMP "jtag_io_child_0_tms" SITE "9" ;
LOCATE COMP "jtag_io_jtag_tdo" SITE "1" ;
LOCATE COMP "jtag_io_gpio_0[0]" SITE "13" ;
LOCATE COMP "jtag_io_gpio_0[1]" SITE "14" ;
LOCATE COMP "jtag_io_child_0_tdo" SITE "10" ;
LOCATE COMP "jtag_io_jtag_tck" SITE "30" ;
LOCATE COMP "jtag_io_jtag_tdi" SITE "32" ;
LOCATE COMP "jtag_io_jtag_tms" SITE "29" ;
