 create_clock -period 83.333 -waveform {0.000 41.667} -name {MyTopLevel|io_jtag_tck} [ get_ports {io_jtag_tck} ]
 create_clock -period 83.333 -waveform {0.000 41.667} -name {MyTopLevel|global_clk} [ get_ports {global_clk} ]
 set_false_path -from [ get_clocks {MyTopLevel|global_clk} ] -to [ get_clocks {MyTopLevel|io_jtag_tck} ]
 set_false_path -from [ get_clocks {MyTopLevel|io_jtag_tck} ] -to [ get_clocks {MyTopLevel|global_clk} ]
