set_location ctrl_tap_bypass_I_0_4_lut 2 2 1 # SB_LUT4 (LogicCell: ctrl_tap_bypass_I_0_4_lut_LC_0)
set_location ctrl_tap_fsm_state_3__I_0_i6_2_lut 1 3 7 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_3__I_0_i6_2_lut_LC_1)
set_location ctrl_tap_fsm_state_3__I_0_i7_2_lut_4_lut 2 3 1 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_3__I_0_i7_2_lut_4_lut_LC_2)
set_location equal_312_i15_2_lut 1 1 2 # SB_LUT4 (LogicCell: equal_312_i15_2_lut_LC_3)
set_location i1047_2_lut 1 2 0 # SB_LUT4 (LogicCell: i1047_2_lut_LC_4)
set_location i1073_2_lut 1 4 0 # SB_LUT4 (LogicCell: i1073_2_lut_LC_5)
set_location i1337_2_lut 2 5 0 # SB_LUT4 (LogicCell: i1337_2_lut_LC_6)
set_location i1343_2_lut_3_lut 1 2 6 # SB_LUT4 (LogicCell: i1343_2_lut_3_lut_LC_7)
set_location i1357_4_lut 2 7 1 # SB_LUT4 (LogicCell: i1357_4_lut_LC_8)
set_location i1359_4_lut 2 7 5 # SB_LUT4 (LogicCell: i1359_4_lut_LC_9)
set_location i1361_4_lut 2 6 0 # SB_LUT4 (LogicCell: i1361_4_lut_LC_10)
set_location i1373_4_lut 2 7 0 # SB_LUT4 (LogicCell: i1373_4_lut_LC_11)
set_location i1375_4_lut 2 3 5 # SB_LUT4 (LogicCell: i1375_4_lut_LC_12)
set_location i1379_4_lut 2 7 2 # SB_LUT4 (LogicCell: i1379_4_lut_LC_13)
set_location i1383_4_lut 1 4 7 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_i3_LC_14)
set_location ctrl_tap_fsm_state_i3 1 4 7 # SB_DFF (LogicCell: ctrl_tap_fsm_state_i3_LC_14)
set_location i1385_4_lut 1 4 1 # SB_LUT4 (LogicCell: i1385_4_lut_LC_15)
set_location i1386_4_lut 1 4 2 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_i2_LC_16)
set_location ctrl_tap_fsm_state_i2 1 4 2 # SB_DFF (LogicCell: ctrl_tap_fsm_state_i2_LC_16)
set_location i1388_4_lut 2 5 3 # SB_LUT4 (LogicCell: i1388_4_lut_LC_17)
set_location i1389_4_lut 1 4 6 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_i1_LC_18)
set_location ctrl_tap_fsm_state_i1 1 4 6 # SB_DFF (LogicCell: ctrl_tap_fsm_state_i1_LC_18)
set_location i1391_3_lut 1 5 2 # SB_LUT4 (LogicCell: i1391_3_lut_LC_19)
set_location i1392_4_lut 1 4 4 # SB_LUT4 (LogicCell: ctrl_tap_fsm_state_i0_LC_20)
set_location ctrl_tap_fsm_state_i0 1 4 4 # SB_DFF (LogicCell: ctrl_tap_fsm_state_i0_LC_20)
set_location i1411_2_lut_4_lut 1 5 7 # SB_LUT4 (LogicCell: i1411_2_lut_4_lut_LC_21)
set_location i1424_3_lut 1 2 2 # SB_LUT4 (LogicCell: i1424_3_lut_LC_22)
set_location i1427_2_lut_4_lut 1 4 5 # SB_LUT4 (LogicCell: i1427_2_lut_4_lut_LC_23)
set_location i1431_2_lut 1 4 3 # SB_LUT4 (LogicCell: i1431_2_lut_LC_24)
set_location i1436_2_lut_3_lut_4_lut 4 3 0 # SB_LUT4 (LogicCell: i1436_2_lut_3_lut_4_lut_LC_25)
set_location i1439_2_lut 2 8 0 # SB_LUT4 (LogicCell: myClockArea_timeout_state_88_LC_26)
set_location myClockArea_timeout_state_88 2 8 0 # SB_DFFR (LogicCell: myClockArea_timeout_state_88_LC_26)
set_location i1_2_lut 1 5 6 # SB_LUT4 (LogicCell: i1_2_lut_LC_27)
set_location i1_2_lut_3_lut 2 2 0 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_LC_28)
set_location i1_2_lut_3_lut_4_lut 2 5 6 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_4_lut_LC_29)
set_location i1_2_lut_3_lut_4_lut_adj_7 2 3 4 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_4_lut_adj_7_LC_30)
set_location i1_2_lut_3_lut_adj_5 1 1 4 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_adj_5_LC_31)
set_location i1_2_lut_adj_1 1 2 4 # SB_LUT4 (LogicCell: i1_2_lut_adj_1_LC_32)
set_location i1_2_lut_adj_4 1 1 0 # SB_LUT4 (LogicCell: i1_2_lut_adj_4_LC_33)
set_location i1_2_lut_adj_8 2 1 2 # SB_LUT4 (LogicCell: i1_2_lut_adj_8_LC_34)
set_location i1_2_lut_adj_9 2 2 4 # SB_LUT4 (LogicCell: i1_2_lut_adj_9_LC_35)
set_location i1_4_lut 2 5 4 # SB_LUT4 (LogicCell: i1_4_lut_LC_36)
set_location i1_4_lut_4_lut 4 3 6 # SB_LUT4 (LogicCell: i1_4_lut_4_lut_LC_37)
set_location i1_4_lut_4_lut_adj_2 1 5 4 # SB_LUT4 (LogicCell: i1_4_lut_4_lut_adj_2_LC_38)
set_location i1_4_lut_adj_6 1 1 3 # SB_LUT4 (LogicCell: i1_4_lut_adj_6_LC_39)
set_location i20_3_lut_3_lut 1 2 1 # SB_LUT4 (LogicCell: i20_3_lut_3_lut_LC_40)
set_location i20_4_lut_3_lut 2 5 2 # SB_LUT4 (LogicCell: i20_4_lut_3_lut_LC_41)
set_location i2_2_lut_3_lut 1 1 5 # SB_LUT4 (LogicCell: i2_2_lut_3_lut_LC_42)
set_location i2_3_lut_4_lut 1 5 0 # SB_LUT4 (LogicCell: i2_3_lut_4_lut_LC_43)
set_location i395_4_lut 2 1 3 # SB_LUT4 (LogicCell: i395_4_lut_LC_44)
set_location i398_4_lut 2 1 4 # SB_LUT4 (LogicCell: i398_4_lut_LC_45)
set_location i3_2_lut 2 6 6 # SB_LUT4 (LogicCell: i3_2_lut_LC_46)
set_location i3_2_lut_3_lut_4_lut 1 5 3 # SB_LUT4 (LogicCell: i3_2_lut_3_lut_4_lut_LC_47)
set_location i3_4_lut 1 3 1 # SB_LUT4 (LogicCell: i3_4_lut_LC_48)
set_location i5_4_lut 1 2 5 # SB_LUT4 (LogicCell: i5_4_lut_LC_49)
set_location i5_4_lut_adj_3 2 6 2 # SB_LUT4 (LogicCell: i5_4_lut_adj_3_LC_50)
set_location i697_3_lut 2 3 7 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i1_LC_51)
set_location ctrl_ledsArea_store_i0_i1 2 3 7 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i1_LC_51)
set_location i700_4_lut 2 2 6 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i27_LC_52)
set_location ctrl_idcodeArea_shifter_i27 2 2 6 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i27_LC_52)
set_location i702_4_lut 2 2 7 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i26_LC_53)
set_location ctrl_idcodeArea_shifter_i26 2 2 7 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i26_LC_53)
set_location i704_4_lut 2 2 2 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i25_LC_54)
set_location ctrl_idcodeArea_shifter_i25 2 2 2 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i25_LC_54)
set_location i706_4_lut 2 3 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i24_LC_55)
set_location ctrl_idcodeArea_shifter_i24 2 3 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i24_LC_55)
set_location i709_4_lut 2 3 6 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i23_LC_56)
set_location ctrl_idcodeArea_shifter_i23 2 3 6 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i23_LC_56)
set_location i711_4_lut 2 3 0 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i22_LC_57)
set_location ctrl_idcodeArea_shifter_i22 2 3 0 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i22_LC_57)
set_location i713_4_lut 4 3 7 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i21_LC_58)
set_location ctrl_idcodeArea_shifter_i21 4 3 7 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i21_LC_58)
set_location i716_4_lut 4 3 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i20_LC_59)
set_location ctrl_idcodeArea_shifter_i20 4 3 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i20_LC_59)
set_location i719_4_lut 4 3 4 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i19_LC_60)
set_location ctrl_idcodeArea_shifter_i19 4 3 4 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i19_LC_60)
set_location i721_4_lut 4 3 1 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i18_LC_61)
set_location ctrl_idcodeArea_shifter_i18 4 3 1 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i18_LC_61)
set_location i724_4_lut 4 3 2 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i17_LC_62)
set_location ctrl_idcodeArea_shifter_i17 4 3 2 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i17_LC_62)
set_location i726_4_lut 5 3 1 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i16_LC_63)
set_location ctrl_idcodeArea_shifter_i16 5 3 1 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i16_LC_63)
set_location i729_4_lut 5 3 5 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i15_LC_64)
set_location ctrl_idcodeArea_shifter_i15 5 3 5 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i15_LC_64)
set_location i731_4_lut 5 3 0 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i14_LC_65)
set_location ctrl_idcodeArea_shifter_i14 5 3 0 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i14_LC_65)
set_location i734_4_lut 5 3 2 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i13_LC_66)
set_location ctrl_idcodeArea_shifter_i13 5 3 2 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i13_LC_66)
set_location i737_4_lut 5 3 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i12_LC_67)
set_location ctrl_idcodeArea_shifter_i12 5 3 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i12_LC_67)
set_location i740_4_lut 2 6 4 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i11_LC_68)
set_location ctrl_idcodeArea_shifter_i11 2 6 4 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i11_LC_68)
set_location i741_3_lut 2 4 6 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i8_LC_69)
set_location ctrl_ledsArea_store_i0_i8 2 4 6 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i8_LC_69)
set_location i742_3_lut 1 3 2 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i7_LC_70)
set_location ctrl_ledsArea_store_i0_i7 1 3 2 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i7_LC_70)
set_location i743_3_lut 2 4 7 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i6_LC_71)
set_location ctrl_ledsArea_store_i0_i6 2 4 7 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i6_LC_71)
set_location i744_3_lut 2 3 2 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i5_LC_72)
set_location ctrl_ledsArea_store_i0_i5 2 3 2 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i5_LC_72)
set_location i745_3_lut 2 4 3 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i4_LC_73)
set_location ctrl_ledsArea_store_i0_i4 2 4 3 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i4_LC_73)
set_location i746_3_lut 2 4 1 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i3_LC_74)
set_location ctrl_ledsArea_store_i0_i3 2 4 1 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i3_LC_74)
set_location i747_3_lut 2 4 2 # SB_LUT4 (LogicCell: ctrl_ledsArea_store_i0_i2_LC_75)
set_location ctrl_ledsArea_store_i0_i2 2 4 2 # SB_DFF (LogicCell: ctrl_ledsArea_store_i0_i2_LC_75)
set_location i751_4_lut 4 3 5 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i31_LC_76)
set_location ctrl_idcodeArea_shifter_i31 4 3 5 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i31_LC_76)
set_location i754_4_lut 1 3 5 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i30_LC_77)
set_location ctrl_idcodeArea_shifter_i30 1 3 5 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i30_LC_77)
set_location i757_4_lut 1 3 4 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i29_LC_78)
set_location ctrl_idcodeArea_shifter_i29 1 3 4 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i29_LC_78)
set_location i761_4_lut 2 2 5 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i28_LC_79)
set_location ctrl_idcodeArea_shifter_i28 2 2 5 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i28_LC_79)
set_location i767_4_lut 2 6 7 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i10_LC_80)
set_location ctrl_idcodeArea_shifter_i10 2 6 7 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i10_LC_80)
set_location i770_4_lut 1 1 1 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i1_LC_81)
set_location ctrl_tap_instruction_i1 1 1 1 # SB_DFF (LogicCell: ctrl_tap_instruction_i1_LC_81)
set_location i772_4_lut 2 1 6 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i2_LC_82)
set_location ctrl_tap_instruction_i2 2 1 6 # SB_DFF (LogicCell: ctrl_tap_instruction_i2_LC_82)
set_location i776_4_lut 2 1 5 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i3_LC_83)
set_location ctrl_tap_instruction_i3 2 1 5 # SB_DFF (LogicCell: ctrl_tap_instruction_i3_LC_83)
set_location i779_4_lut 2 1 0 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i4_LC_84)
set_location ctrl_tap_instruction_i4 2 1 0 # SB_DFF (LogicCell: ctrl_tap_instruction_i4_LC_84)
set_location i782_4_lut 1 1 7 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i5_LC_85)
set_location ctrl_tap_instruction_i5 1 1 7 # SB_DFF (LogicCell: ctrl_tap_instruction_i5_LC_85)
set_location i785_4_lut 1 1 6 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i6_LC_86)
set_location ctrl_tap_instruction_i6 1 1 6 # SB_DFF (LogicCell: ctrl_tap_instruction_i6_LC_86)
set_location i788_4_lut 2 1 7 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i7_LC_87)
set_location ctrl_tap_instruction_i7 2 1 7 # SB_DFF (LogicCell: ctrl_tap_instruction_i7_LC_87)
set_location i791_4_lut 1 2 7 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i1_LC_88)
set_location ctrl_idcodeArea_shifter_i1 1 2 7 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i1_LC_88)
set_location i794_4_lut 1 2 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i2_LC_89)
set_location ctrl_idcodeArea_shifter_i2 1 2 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i2_LC_89)
set_location i797_4_lut 1 3 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i3_LC_90)
set_location ctrl_idcodeArea_shifter_i3 1 3 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i3_LC_90)
set_location i7_4_lut 2 7 3 # SB_LUT4 (LogicCell: i7_4_lut_LC_91)
set_location i800_4_lut 1 3 0 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i4_LC_92)
set_location ctrl_idcodeArea_shifter_i4 1 3 0 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i4_LC_92)
set_location i802_4_lut 2 4 4 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i5_LC_93)
set_location ctrl_idcodeArea_shifter_i5 2 4 4 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i5_LC_93)
set_location i805_4_lut 2 4 5 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i6_LC_94)
set_location ctrl_idcodeArea_shifter_i6 2 4 5 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i6_LC_94)
set_location i808_4_lut 2 4 0 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i7_LC_95)
set_location ctrl_idcodeArea_shifter_i7 2 4 0 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i7_LC_95)
set_location i810_4_lut 2 5 1 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i8_LC_96)
set_location ctrl_idcodeArea_shifter_i8 2 5 1 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i8_LC_96)
set_location i812_4_lut 2 2 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i0_LC_97)
set_location ctrl_idcodeArea_shifter_i0 2 2 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i0_LC_97)
set_location i816_4_lut 2 1 1 # SB_LUT4 (LogicCell: ctrl_tap_instruction_i0_LC_98)
set_location ctrl_tap_instruction_i0 2 1 1 # SB_DFF (LogicCell: ctrl_tap_instruction_i0_LC_98)
set_location i818_4_lut 2 6 3 # SB_LUT4 (LogicCell: ctrl_idcodeArea_shifter_i9_LC_99)
set_location ctrl_idcodeArea_shifter_i9 2 6 3 # SB_DFF (LogicCell: ctrl_idcodeArea_shifter_i9_LC_99)
set_location i988_4_lut_4_lut 2 5 5 # SB_LUT4 (LogicCell: i988_4_lut_4_lut_LC_100)
set_location i990_2_lut 2 7 4 # SB_LUT4 (LogicCell: i990_2_lut_LC_101)
set_location io_leds_4__I_0_2_lut 4 8 5 # SB_LUT4 (LogicCell: myClockArea_toggle_90_LC_102)
set_location myClockArea_toggle_90 4 8 5 # SB_DFF (LogicCell: myClockArea_toggle_90_LC_102)
set_location mux_209_i1_4_lut 1 5 1 # SB_LUT4 (LogicCell: mux_209_i1_4_lut_LC_103)
set_location mux_210_i1_4_lut 1 5 5 # SB_LUT4 (LogicCell: mux_210_i1_4_lut_LC_104)
set_location mux_210_i2_4_lut 2 5 7 # SB_LUT4 (LogicCell: mux_210_i2_4_lut_LC_105)
set_location mux_210_i3_4_lut_4_lut 4 5 2 # SB_LUT4 (LogicCell: mux_210_i3_4_lut_4_lut_LC_106)
set_location mux_210_i4_4_lut_4_lut 1 3 6 # SB_LUT4 (LogicCell: mux_210_i4_4_lut_4_lut_LC_107)
set_location mux_271_i1_3_lut 4 2 1 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i0_LC_108)
set_location ctrl_tap_instructionShift_i0_i0 4 2 1 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i0_LC_108)
set_location mux_271_i2_3_lut 4 1 0 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i1_LC_109)
set_location ctrl_tap_instructionShift_i0_i1 4 1 0 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i1_LC_109)
set_location mux_271_i3_3_lut 4 1 1 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i2_LC_110)
set_location ctrl_tap_instructionShift_i0_i2 4 1 1 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i2_LC_110)
set_location mux_271_i4_3_lut 4 1 5 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i3_LC_111)
set_location ctrl_tap_instructionShift_i0_i3 4 1 5 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i3_LC_111)
set_location mux_271_i5_3_lut 4 1 2 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i4_LC_112)
set_location ctrl_tap_instructionShift_i0_i4 4 1 2 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i4_LC_112)
set_location mux_271_i6_3_lut 4 1 3 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i5_LC_113)
set_location ctrl_tap_instructionShift_i0_i5 4 1 3 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i5_LC_113)
set_location mux_271_i7_3_lut 4 1 6 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i6_LC_114)
set_location ctrl_tap_instructionShift_i0_i6 4 1 6 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i6_LC_114)
set_location mux_271_i8_3_lut 4 1 4 # SB_LUT4 (LogicCell: ctrl_tap_instructionShift_i0_i7_LC_115)
set_location ctrl_tap_instructionShift_i0_i7 4 1 4 # SB_DFFE (LogicCell: ctrl_tap_instructionShift_i0_i7_LC_115)
set_location mux_58_i1_4_lut 4 4 0 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i0_LC_116)
set_location ctrl_ledsArea_shifter_i0_i0 4 4 0 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i0_LC_116)
set_location mux_58_i2_4_lut 4 4 1 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i1_LC_117)
set_location ctrl_ledsArea_shifter_i0_i1 4 4 1 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i1_LC_117)
set_location mux_58_i3_4_lut 4 4 2 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i2_LC_118)
set_location ctrl_ledsArea_shifter_i0_i2 4 4 2 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i2_LC_118)
set_location mux_58_i4_4_lut 4 4 3 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i3_LC_119)
set_location ctrl_ledsArea_shifter_i0_i3 4 4 3 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i3_LC_119)
set_location mux_58_i5_4_lut 4 4 4 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i4_LC_120)
set_location ctrl_ledsArea_shifter_i0_i4 4 4 4 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i4_LC_120)
set_location mux_58_i6_4_lut 4 4 5 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i5_LC_121)
set_location ctrl_ledsArea_shifter_i0_i5 4 4 5 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i5_LC_121)
set_location mux_58_i7_4_lut 4 4 6 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i6_LC_122)
set_location ctrl_ledsArea_shifter_i0_i6 4 4 6 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i6_LC_122)
set_location mux_58_i8_4_lut 4 4 7 # SB_LUT4 (LogicCell: ctrl_ledsArea_shifter_i0_i7_LC_123)
set_location ctrl_ledsArea_shifter_i0_i7 4 4 7 # SB_DFFE (LogicCell: ctrl_ledsArea_shifter_i0_i7_LC_123)
set_location myClockArea_timeout_counter_value_313_add_4_10_lut 1 7 0 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i8_LC_124)
set_location myClockArea_timeout_counter_value_313__i8 1 7 0 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i8_LC_124)
set_location myClockArea_timeout_counter_value_313_add_4_10 1 7 0 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i8_LC_124)
set_location myClockArea_timeout_counter_value_313_add_4_11_lut 1 7 1 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i9_LC_125)
set_location myClockArea_timeout_counter_value_313__i9 1 7 1 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i9_LC_125)
set_location myClockArea_timeout_counter_value_313_add_4_11 1 7 1 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i9_LC_125)
set_location myClockArea_timeout_counter_value_313_add_4_12_lut 1 7 2 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i10_LC_126)
set_location myClockArea_timeout_counter_value_313__i10 1 7 2 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i10_LC_126)
set_location myClockArea_timeout_counter_value_313_add_4_12 1 7 2 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i10_LC_126)
set_location myClockArea_timeout_counter_value_313_add_4_13_lut 1 7 3 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i11_LC_127)
set_location myClockArea_timeout_counter_value_313__i11 1 7 3 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i11_LC_127)
set_location myClockArea_timeout_counter_value_313_add_4_13 1 7 3 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i11_LC_127)
set_location myClockArea_timeout_counter_value_313_add_4_14_lut 1 7 4 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i12_LC_128)
set_location myClockArea_timeout_counter_value_313__i12 1 7 4 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i12_LC_128)
set_location myClockArea_timeout_counter_value_313_add_4_14 1 7 4 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i12_LC_128)
set_location myClockArea_timeout_counter_value_313_add_4_15_lut 1 7 5 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i13_LC_129)
set_location myClockArea_timeout_counter_value_313__i13 1 7 5 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i13_LC_129)
set_location myClockArea_timeout_counter_value_313_add_4_15 1 7 5 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i13_LC_129)
set_location myClockArea_timeout_counter_value_313_add_4_16_lut 1 7 6 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i14_LC_130)
set_location myClockArea_timeout_counter_value_313__i14 1 7 6 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i14_LC_130)
set_location myClockArea_timeout_counter_value_313_add_4_16 1 7 6 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i14_LC_130)
set_location myClockArea_timeout_counter_value_313_add_4_17_lut 1 7 7 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i15_LC_131)
set_location myClockArea_timeout_counter_value_313__i15 1 7 7 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i15_LC_131)
set_location myClockArea_timeout_counter_value_313_add_4_17 1 7 7 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i15_LC_131)
set_location myClockArea_timeout_counter_value_313_add_4_18_lut 1 8 0 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i16_LC_132)
set_location myClockArea_timeout_counter_value_313__i16 1 8 0 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i16_LC_132)
set_location myClockArea_timeout_counter_value_313_add_4_18 1 8 0 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i16_LC_132)
set_location myClockArea_timeout_counter_value_313_add_4_19_lut 1 8 1 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i17_LC_133)
set_location myClockArea_timeout_counter_value_313__i17 1 8 1 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i17_LC_133)
set_location myClockArea_timeout_counter_value_313_add_4_19 1 8 1 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i17_LC_133)
set_location myClockArea_timeout_counter_value_313_add_4_20_lut 1 8 2 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i18_LC_134)
set_location myClockArea_timeout_counter_value_313__i18 1 8 2 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i18_LC_134)
set_location myClockArea_timeout_counter_value_313_add_4_20 1 8 2 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i18_LC_134)
set_location myClockArea_timeout_counter_value_313_add_4_21_lut 1 8 3 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i19_LC_135)
set_location myClockArea_timeout_counter_value_313__i19 1 8 3 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i19_LC_135)
set_location myClockArea_timeout_counter_value_313_add_4_21 1 8 3 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i19_LC_135)
set_location myClockArea_timeout_counter_value_313_add_4_22_lut 1 8 4 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i20_LC_136)
set_location myClockArea_timeout_counter_value_313__i20 1 8 4 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i20_LC_136)
set_location myClockArea_timeout_counter_value_313_add_4_22 1 8 4 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i20_LC_136)
set_location myClockArea_timeout_counter_value_313_add_4_23_lut 1 8 5 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i21_LC_137)
set_location myClockArea_timeout_counter_value_313__i21 1 8 5 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i21_LC_137)
set_location myClockArea_timeout_counter_value_313_add_4_23 1 8 5 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i21_LC_137)
set_location myClockArea_timeout_counter_value_313_add_4_24_lut 1 8 6 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i22_LC_138)
set_location myClockArea_timeout_counter_value_313__i22 1 8 6 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i22_LC_138)
set_location myClockArea_timeout_counter_value_313_add_4_2_lut 1 6 0 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i0_LC_139)
set_location myClockArea_timeout_counter_value_313__i0 1 6 0 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i0_LC_139)
set_location myClockArea_timeout_counter_value_313_add_4_2 1 6 0 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i0_LC_139)
set_location myClockArea_timeout_counter_value_313_add_4_3_lut 1 6 1 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i1_LC_140)
set_location myClockArea_timeout_counter_value_313__i1 1 6 1 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i1_LC_140)
set_location myClockArea_timeout_counter_value_313_add_4_3 1 6 1 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i1_LC_140)
set_location myClockArea_timeout_counter_value_313_add_4_4_lut 1 6 2 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i2_LC_141)
set_location myClockArea_timeout_counter_value_313__i2 1 6 2 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i2_LC_141)
set_location myClockArea_timeout_counter_value_313_add_4_4 1 6 2 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i2_LC_141)
set_location myClockArea_timeout_counter_value_313_add_4_5_lut 1 6 3 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i3_LC_142)
set_location myClockArea_timeout_counter_value_313__i3 1 6 3 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i3_LC_142)
set_location myClockArea_timeout_counter_value_313_add_4_5 1 6 3 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i3_LC_142)
set_location myClockArea_timeout_counter_value_313_add_4_6_lut 1 6 4 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i4_LC_143)
set_location myClockArea_timeout_counter_value_313__i4 1 6 4 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i4_LC_143)
set_location myClockArea_timeout_counter_value_313_add_4_6 1 6 4 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i4_LC_143)
set_location myClockArea_timeout_counter_value_313_add_4_7_lut 1 6 5 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i5_LC_144)
set_location myClockArea_timeout_counter_value_313__i5 1 6 5 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i5_LC_144)
set_location myClockArea_timeout_counter_value_313_add_4_7 1 6 5 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i5_LC_144)
set_location myClockArea_timeout_counter_value_313_add_4_8_lut 1 6 6 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i6_LC_145)
set_location myClockArea_timeout_counter_value_313__i6 1 6 6 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i6_LC_145)
set_location myClockArea_timeout_counter_value_313_add_4_8 1 6 6 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i6_LC_145)
set_location myClockArea_timeout_counter_value_313_add_4_9_lut 1 6 7 # SB_LUT4 (LogicCell: myClockArea_timeout_counter_value_313__i7_LC_146)
set_location myClockArea_timeout_counter_value_313__i7 1 6 7 # SB_DFFR (LogicCell: myClockArea_timeout_counter_value_313__i7_LC_146)
set_location myClockArea_timeout_counter_value_313_add_4_9 1 6 7 # SB_CARRY (LogicCell: myClockArea_timeout_counter_value_313__i7_LC_146)
set_location ctrl_tap_bypass_81_THRU_LUT4_0 5 2 7 # SB_LUT4 (LogicCell: ctrl_tap_bypass_81_LC_147)
set_location ctrl_tap_bypass_81 5 2 7 # SB_DFF (LogicCell: ctrl_tap_bypass_81_LC_147)
set_location GND -1 -1 -1 # GND
set_io ctrl_tap_fsm_stateNext_3__N_10_pad_3 4 0 0 # ICE_IO
set_io global_clk_pad 0 8 1 # ICE_GB_IO
set_io global_reset_pad 1 17 0 # ICE_IO
set_io io_jtag_tdi_pad 5 0 0 # ICE_IO
set_io io_jtag_tdo_pad 5 0 1 # ICE_IO
set_io io_leds_pad_0 13 12 1 # ICE_IO
set_io io_leds_pad_1 13 12 0 # ICE_IO
set_io io_leds_pad_2 13 11 1 # ICE_IO
set_io io_leds_pad_3 13 11 0 # ICE_IO
set_io io_leds_pad_4 13 9 1 # ICE_IO
set_io io_leds_pad_5 0 10 1 # ICE_IO
set_io io_leds_pad_6 0 2 0 # ICE_IO
set_io io_leds_pad_7 0 8 0 # ICE_IO
set_io io_jtag_tck_pad 4 0 1 # ICE_IO
set_io io_jtag_tck_pad_gb 0 9 0 # ICE_GB
